# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.venv/
venv/
env/
ENV/
.conda/
0_conda_env_cheatsheet.txt
conda_env_.yml
conda_env.yml
requirements-conda.txt
environment_dev_creation.yml
environment_dev.yml
environment_prod_creation.yml
environment_prod.yml

# Config d’éditeur
*.dat
*.tmp
.vscode/
.vscodium/
.idea/

# OS files
.DS_Store
Thumbs.db

# Fichiers de logs
*.log

# Notebooks checkpoints
.ipynb_checkpoints/

# Données temporaires
#*.csv
*.tsv
*.zip

# Build / distribution
build/
dist/
*.egg-info/
.eggs/

# Tests / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Config sensible
*.env
.envrc

